#signUp-img {
    /* background-image: url("https://images.unsplash.com/photo-1508675801627-066ac4346a61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBldHMlMjBsb3ZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"); */
    background-image: url("https://i.postimg.cc/TPny443R/Untitled-design-7.png");
    background-size: cover;
    height: 100vh; 
  
}

a:link {
    text-decoration: none;
  }